/* Global font and color scheme */
body {
  font-family: 'Poppins', sans-serif;
  background-image: url("17.jpg");
  background-repeat: no-repeat;     
  background-size: cover;           
  background-attachment: fixed;     
  background-position: center;  
  color: red;   
}
.gallery-img {
  width: 300px;
  height: 250px; 
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery-img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0,0,0,0.3);
}




